# Data Science Pandas

## Tasks Today:

0) <b>Pre-Work</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Numpy Random Sampling

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Slicing a DataFrame <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - drop_duplicates() <br>

## Numpy Random Sampling

In [9]:
import numpy as np

# single call generates a single random number (from 0 - 1)
print(f'Random number: {np.random.uniform()}')
print(f'Another random number: {np.random.uniform()}')

# Passing bounds
print(f'Random num from 0 - 1 Mil: {np.random.uniform(0,1e6)}')

# Many rands at once
print(f'3 random nums between 0 & 1 Mil: {np.random.uniform(0, 1e6, 3)}')

# Matrix & tensors w/ wierd shapes
print(f'3x3 matrix of rand nums from 0 to 1 Mil: \n{np.random.uniform(0,1e6,(3,3))}')

# Using random integer
print(f'4 random integers from 0 to 1 Mil: {np.random.randint(0, 1e6, 4)}')

Random number: 0.7365219655986625
Another random number: 0.3810627964687727
Random num from 0 - 1 Mil: 998109.1144299641
3 random nums between 0 & 1 Mil: [163839.59742947 917215.59891156  25669.4502977 ]
3x3 matrix of rand nums from 0 to 1 Mil:
[[ 67361.17865259 374728.75596506 271829.67791232]
 [147134.86827828  95876.71397894 421692.80433678]
 [421416.17972475 850508.85141508 424726.92285134]]
4 random integers from 0 to 1 Mil: [117649 639714 691596 277997]

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [10]:
!pip install pandas

Requirement already satisfied: pandas in /Users/ScottMcL/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ScottMcL/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ScottMcL/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/ScottMcL/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/ScottMcL/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [11]:
import pandas as pd

# always use pd, standard for data science

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

In [12]:
names = ['Alice',
         'Bob',
         'James',
         'Beth',
         'John',
         'Sally',
         'Richard',
         'Lauren',
         'Brandon',
         'Sabrina']

ages = np.random.randint(18,35,len(names))

my_people = {
    'names': names,
    'ages': ages
}

print(my_people)

{'names': ['Alice', 'Bob', 'James', 'Beth', 'John', 'Sally', 'Richard', 'Lauren', 'Brandon', 'Sabrina'], 'ages': array([32, 25, 20, 29, 21, 23, 31, 33, 28, 23])}

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

In [13]:
data = pd.DataFrame.from_dict(my_people)

data

     names  ages
0    Alice    32
1      Bob    25
2    James    20
3     Beth    29
4     John    21
5    Sally    23
6  Richard    31
7   Lauren    33
8  Brandon    28
9  Sabrina    23

##### read_csv()

In [14]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

marathon = pd.read_csv('boston_marathon2017_edited.csv', sep = ',')

marathon

FileNotFoundError: [Errno 2] No such file or directory: 'boston_marathon2017_edited.csv'

### In-Class Exercise #1 - Read in Boston Red Sox Hitting Data <br>
<p>Use the pandas read_csv() method to read in the statistics from the two files yesterday.</p>

In [15]:
bos17 = pd.read_csv('redsox_2017_hitting.txt', sep = ',')
bos18 = pd.read_csv('redsox_2018_hitting.txt', sep = ',')
bos18
bos17

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

In [ ]:
data_ages = data['ages']
print(data_ages)

# print ot the data type on the variable data

# Series
print(type(data_ages))

# DataFrame
print(type(data))

# DataSeries Index - starting at 0
print(data_ages[3])

# key first, row index second
print(data['ages'][3])

# print(float(data_ages[0]))
# print(data_ages)

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

In [ ]:
print(data)
# Grab the first row of data -- by the index of the row
my_row = data.loc[3]
print(f'\nLocation of the 0th row in the data: \n{my_row}')

# Getting multiple values from a df.loc
mult_peeps = data.loc[ [0,1,2] ]['names']
print(f'\nLocation of multiple people: \n{mult_peeps}')
    # print(f'\n{list({mult_peeps})}')     ## TypeError: unhashable type: 'Series'

# Using df.loc and producing a DataFrame at the end
mult_peeps_df = data.loc[ [0,1,2] ][ ['names', 'ages'] ]
print('\n', mult_peeps_df)
print('\n', type(mult_peeps_df))


# Reset our my_people dataframe index
reset_index = data.loc[ [0,1,2,3] ].set_index('names')
print('\n', reset_index.loc['Alice'])

reset_index.reset_index()

print(reset_index.loc['James'])
print(data.loc[2])

##### keys()

In [ ]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()

print(data.keys())
print(bos2017.keys())
print(type(bos2017.keys()))
print(bos2017.keys().tolist())
print(type(bos2017.keys().tolist()))

##### Slicing a DataFrame

In [ ]:
# printing all data for context
data[2:5]

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [ ]:
# DataFrame.head() -- Prints first rows of data, defaults to 5 rows Accepts integer parameter(gives access to more rows)
bos17.head()

##### tail()

In [ ]:
# DataFrame.tail()  -- Prints first rows of data (defaults to 5 rows) Accepts integer parameter(gives access to more rows)
bos17.tail()

##### shape

In [ ]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter

print(bos17.shape)

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [ ]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include, exclude)

bos18.describe()
# bos18.describe('all') #### TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'
# bos18.describe('all')  ## Should return more info than default.  Info for all columns.

##### sort_values()

In [ ]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

# DataFrame.sort_values('key')
sorted_data = data.sort_values('ages', kind = 'mergesort')

sorted_data.reset_index(drop=True)

##### .columns

In [ ]:
# will show all cols headers
# DataFrame.columns -- has no parameters

print(f'\nbos17.columns: \n{bos17.columns}')
print(f'\nDatatype of bos17.columns: {type(bos17.columns)}\n')

# Keys brings back the 'index' of whatever data type we are working with 
print(f'\nbos17.keys: \n{bos17.keys()}')
print(f'\nDatatype of bos17.keys: {type(bos17.keys())}\n')

####  Why does bos17.columns and bos17.keys() bring back exactly the same thing??  Should this be bos17.keys instead?

### In-Class Exercise #2 - Describe & Sort Boston Red Sox Hitting Data <br>
<p>Take the data that you read in earlier from the Red Sox csv's and use the describe method to understand the data better. Compare the two years and decide which team is having the better year. Then sort the values based on Batting Average.</p>

In [ ]:
print("2017 stats:")
print(bos17.describe())
print("\n2018 stats:")
print(bos18.describe())

print(f"\n2017 batting average: {bos17.describe()[' BA']['mean']}, SLG: {bos17.describe()[' SLG']['mean']}")
print(f"2018 batting average: {bos18.describe()[' BA']['mean']}, SLG: {bos17.describe()[' SLG']['mean']}")
if bos17.describe()[' BA']['mean'] > bos18.describe()[' BA']['mean']:
    print("2017 was a better year for the Redsox.")
else:
    print("2017 was a better year for the Redsox.")

sorted_2017 = bos17.sort_values(' BA')
print("\n", sorted_2017)

sorted_2018 = bos18.sort_values(' BA')
print("\n", sorted_2018)

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [ ]:
# Conditional boolean dataframe
data['ages'] >= 25

##### Subsetting

In [ ]:
# exactly like numpy
data[data['ages'] >= 25]

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following dataframe containing membership term and renewal number for a group of customers:</p>

In [ ]:
# Generate some fake data
customer_id = np.random.randint(1000,1100,10)
renewal_nbr = np.random.randint(0,10,10)
customer_dict = {1: 0.5, 0: 1}
terms_in_years = [customer_dict[key] for key in np.random.randint(0,2,10)]

random_data = {
    'customer_id': customer_id,
    'renewal_nbr': renewal_nbr,
    'terms_in_years': terms_in_years
}

customers = pd.DataFrame.from_dict(random_data)
customers

##### Generating a New Column w/Data

In [ ]:
# DataFrame['key'] = Some Calculation from our DataFrame Columns
customers['customer_tenure'] = customers['renewal_nbr'] * customers['terms_in_years']

customers

##### User Defined Function

<p>If what you want to do to a column can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column. Let's add some ages to our customer dataframe, and then classify them into our custom defined grouping scheme:</p>

In [ ]:
# use .apply to map over dataframe

# Create a new column for ages
# customers['ages'] = np.random.randint(18,70,10)

# User defined function
def make_age_groups(age):
    if 6 <= age < 13:
        return 'Child'
    elif 13 <= age < 20:
        return 'Teenager'
    elif 20 <= age < 35:
        return 'Young Adult'
    elif 35 <= age < 65:
        return 'Adult'
    elif 65 <= age:
        return 'Senior'
    
    
# print(make_age_groups)  # just prints out memory location of function
customers['age_group'] = customers['ages'].apply(make_age_groups)
customers

<p>As a last example I'll show here how you would use a lambda function to create a UDF that depends on $\textit{more than one}$ column:</p>

<li>UDF = User Defined Function</li>

In [ ]:
#Axis for apply can only be 1 or 0 -- 1 being the X axis 0 being the Y axis
def make_loyalty_age_group(row):
    age = row['ages']
    tenure = row['customer_tenure']
    
    if 10 <=  age < 20:
        age_group = 'Teenager'
    elif 20 <= age < 35:
        age_group = 'Young Adult'
    elif 35 <= age < 65:
        age_group = 'Adult'
    elif 65 <= age:
        age_group = 'Senior'
    
    if tenure > 2.0:
        loyalty_age_group = f'Loyal {age_group}'
    else:
        loyalty_age_group = f'New {age_group}'
    
    return loyalty_age_group

customers['loyalty_age_group'] = customers.apply(make_loyalty_age_group, axis = 1)
customers

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Boston Red Sox data, create your own UDF which creates a new column called 'All-Star' and puts every player with either a batting average over .280 or an on base percentage of over .360 with a result of 'Yes' in the column and 'No' if not.</p>

In [29]:
"""
    Name  BA OBP AllStar
    Name .233 .360 Yes
    Name .150 .288 No
"""
import numpy as np
import pandas as pd

# print(bos17.keys())

def all_star(row):
    BA = row[' BA']
    OBP = row[' OBP']
    
    if BA >= 0.280 or OBP >= 0.360:  
        return "Yes"
    else:
        return "No"

def all_star_lambda(row):
    BA = row[' BA']
    OBP = row[' OBP']
    all_star = lambda BA,OBP: 'Yes' if BA > 0.280 or OBP > .360 else 'No'   
    return all_star(BA,OBP)  

# bos17 = pd.read_csv('redsox_2017_hitting.txt', sep = ',')
# bos18 = pd.read_csv('redsox_2018_hitting.txt', sep = ',')
# bos18


bos17['allStar_lambda'] = bos17.apply(all_star_lambda, axis = 1)

bos17['AllStar'] = bos17.apply(all_star, axis = 1)
print(bos17)

bos18['allStar_lambda'] = bos18.apply(all_star_lambda, axis = 1)

bos18['AllStar'] = bos18.apply(all_star, axis = 1)
print(bos18)


############### Other Methods tried before finding '' error  #########    
#     if (ba.Series.ge(0.280)) | (OBP.Series.ge(0.360)):  # AttributeError: 'float' object has no attribute 'Series'
#         return "Yes"
#     else:
#         return "No"

    # Fix from: https://www.geeksforgeeks.org/how-to-fix-valueerror-the-truth-value-of-a-series-is-ambiguous-in-pandas/
#     if (ba >= 0.280) | (OBP >= 0.360): 
#         return "Yes"
#     else:
#         return "No"
    
#     if np.logical_or((ba >= 0.280), (OBP >= 0.360)):  
#         return "Yes"
#     else:
#         return "No"



##################### Unrelated questions ###########################
# print(f'\nbos17.columns: \n{bos17.columns}')
# print(f'\nDatatype of bos17.columns: {type(bos17.columns)}\n')

# # Keys brings back the 'index' of whatever data type we are working with 
# print(f'\nbos17.keys: \n{bos17.keys()}')
# print(f'\nDatatype of bos17.keys: {type(bos17.keys())}\n') # interchangeable aliases for eachother

####  Why does bos17.columns and bos17.keys() bring back exactly the same thing??  Should this be bos17.keys instead?

################# df.loc ######################
#### Need further explanation ####
# Reset our my_people dataframe index
# reset_index = data.loc[ [0,1,2,3] ].set_index('names')
# print('\n', reset_index.loc['Alice'])

# reset_index.reset_index()  ## Why is this needed? What did it do?

    Rk  Pos                 Name   Age    G   PA   AB    R    H   2B  ...  \
0    1    C           Sandy Leon    29   89  288  265   30   47   12  ...
1    2   1B       Mitch Moreland    32  124  459  404   57   99   23  ...
2    3   2B        Eduardo Nunez    31  127  502  480   56  127   23  ...
3    4   SS      Xander Bogaerts    25  136  580  513   72  148   45  ...
4    5   3B        Rafael Devers    21  121  490  450   59  108   24  ...
5    6   LF    Andrew Benintendi    23  148  661  579  103  168   41  ...
6    7   CF   Jackie Bradley Jr.    28  144  535  474   76  111   33  ...
7    8   RF         Mookie Betts    25  136  614  520  129  180   47  ...
8    9   DH        J.D. Martinez    30  150  649  569  111  188   37  ...
9   10   MI           Brock Holt    30  109  367  321   41   89   18  ...
10  11    C    Christian Vazquez    27   80  269  251   24   52   10  ...
11  12   UT        Blake Swihart    26   82  207  192   28   44   10  ...
12  13   UT       Hanley Ramirez    34   44  195  177   25   45    7  ...
13  14   1B         Steve Pearce    35   50  165  136   19   38    8  ...
14  15   2B          Ian Kinsler    36   37  143  132   17   32    6  ...
15  16   SS          Tzu-Wei Lin    24   37   73   65   15   16    6  ...
16  17   UT           Sam Travis    24   19   38   36    5    8    3  ...
17  18   UT     Brandon Phillips    37    9   27   23    4    3    0  ...
18  19   2B       Dustin Pedroia    34    3   13   11    1    1    0  ...
19  20    C           Dan Butler    31    2    7    6    0    1    0  ...

      OPS   OPS+   TB   GDP   HBP   SH   SF   IBB  allStar_lambda  AllStar
0   0.511     37   74     6     4    3    1     0              No       No
1   0.758    102  175    12     0    0    5     2              No       No
2   0.677     81  186    17     2    1    3     0              No       No
3   0.883    135  268    14     6    0    6     4             Yes      Yes
4   0.731     94  195     9     0    0    2     6              No       No
5   0.830    123  269     9     2    2    7     1             Yes      Yes
6   0.717     92  191     6    11    0    4     3              No       No
7   1.078    186  333     5     8    0    5     8             Yes      Yes
8   1.031    173  358    19     4    0    7    11             Yes      Yes
9   0.774    109  132     7     7    0    2     2             Yes      Yes
10  0.540     46   71     5     4    1    0     1              No       No
11  0.613     65   63     4     0    0    0     0              No       No
12  0.708     90   70     9     2    0    2     0              No       No
13  0.901    141   69     1     5    0    2     0             Yes      Yes
14  0.604     64   41     5     0    0    1     0              No       No
15  0.744    100   27     0     0    0    0     0              No       No
16  0.652     73   14     1     0    0    0     0              No       No
17  0.520     42    6     1     0    0    0     0              No       No
18  0.322     -7    1     0     0    0    0     0              No       No
19  0.310    -17    1     0     0    0    1     0              No       No

[20 rows x 30 columns]

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [ ]:
# also introducing .count() here, exact same as to how it's used in SQL

# Using the groupby with the column intact as a column/key
# customers.groupby('age_group', as_index = False).count()[['customer_id','age_group']]

print(customers.groupby('age_group').count())
print(type(customers.groupby('age_group')))

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

In [ ]:
print(type(customers), 'Regular DataFrame')
# print(f'\nType of Group by for Customer.GroupBy: {type(customers.groupby('age_group'))}')
print(f'Type of group by for customer.groupby: {type(customers.groupby("age_group"))}')

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [ ]:
# mean = average
customers.groupby('age_group').mean()  #  Gives data that doesn't make sense to average
customers.groupby('age_group').mean()[ ['customer_tenure', 'ages'] ] # filters to only interesting columns

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

In [ ]:
customers.groupby(['age_group', 'ages']).mean().sort_values('ages', ascending = False)

##### drop_duplicates()

<p>Drops all duplicates from the current dataframe</p>

In [ ]:
customers

In [ ]:
customers_copy = customers.drop_duplicates('renewal_nbr').reset_index(drop=True)
customers_copy

In [ ]:
# Send customer data into a CSV file
customers.to_csv('customers.csv')

<p>Thus the groupby operation allows you to rapidly make summary observations about the state of your entire dataset at flexible granularity. In one line above, we actually did something very complicated - that's the power of the dataframe. In fact, the process often consists of several iterative groupby operations, each revealing greater insight than the last - if you don't know where to start with a dataset, try a bunch of groupbys!</p>

### Homework Excersise #1 - Find the Total Number of Runs and RBIs for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [ ]:
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'
# bos18['Team'] = 'BOS'
# bos18

# step 2: Group by the 'Team' column and get total home runs and rbi's
print("\n2017 Home Runs and RBI's:")
print(bos17.groupby('Team').sum()[[' HR', ' RBI']])

print("\n2017 Home Runs and RBI's:")
print(bos17.groupby('Team').sum()[[' HR', ' RBI']])


# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)

# """
# TEAM    HR   RBI
# ----------------
# BOS     144  538
# """

## Find the average age of runners in the 2017 Boston Marathon

In [ ]:
# marathon.columns

# marathon['all_runners'] = "runners"
# marathon

marathon.groupby('all_runners').mean()[['Age']]